/* Navbar.css */
body{
  background-color: rgba(240, 248, 255, 0.678);
}
.navbar {
  background-color:purple;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color:white;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size:20px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: blueviolet;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
  }

  .navbar-menu.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }

  .bar.change:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.change:nth-child(2) {
    opacity: 0;
  }

  .bar.change:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
.navbar-brand a{
  color: #fff;
  text-decoration: none;
}
